body {
    margin          : 0;
    padding         : 0;
    background-color: rgb(196, 214, 198);
}

ul {
    margin              : 0;
    padding-block-start : 1em;
    padding-block-end   : 1em;
    padding-inline-end  : 40px;
    padding-inline-start: 40px;
}

li {
    font-family    : '华文细黑', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style     : none;
    cursor         : pointer;
    padding        : 5px 10px;
    transition     : all .5s linear;
    font-weight    : bold;
    letter-spacing : 1px;
}

span {
    display: none;
}

li>span {
    float: right;
}

li>input {
    height    : 100%;
    width     : 50%;
    padding   : 0;
    margin    : 0;
    transition: all .5s linear;
    text-align: center;
}

li:hover span {
    display: block;
}

li:nth-child(2n) {
    background-color: rgba(187, 187, 187, 0.507);
}

li:nth-child(2n+1) {
    background-color: rgba(153, 153, 153, 0.507);
}

li:last-child {
    background-color: rgba(255, 255, 255, 0.507);
    display         : flex;
    align-items     : center;
    font-weight     : normal;
}